@model Assignment.ViewModels.AddressVM

@{
    ViewData["Title"] = "Create";
}
@section Styles
{

    <link href="~/css/closeableToolTips.css" rel="stylesheet" / >

}
<span>page 1</span><hr />
        
            <div class="row">
                <div class="col-md-12">                    
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label for="Title" class="control-label col-form-label-sm col-1 col-md-1 col-sm-1 col-lg-1 col-form-label text-right">Title</label>
                            <div class="col-md-5 col-sm-5 col-lg-5 col-5">
                                <input id="Title"  class="form-control form-control-sm" />
                                <span id="titleValidation" style="display:none" class="text-danger">Title is Required</span>
                            </div>


                            <label for="Address" class="control-label col-1 col-md-1 col-sm-1 col-lg-1 col-form-label col-form-label-sm text-right">Address</label>
                            <div class=" col-5 col-md-5 col-sm-5 col-lg-5">
                                <input id="Address" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="AddressType" class="control-label col-1 col-md-1 col-sm-1 col-lg-1 col-form-label text-right col-form-label-sm">Type</label>
                            <div class=" col-11 col-md-11 col-sm-11 col-lg-11">
                                <select id="AddressType" class="form-control form-control-sm select2" asp-items="ViewBag.AddressTypeId">
                                    <option selected disabled>Select Type</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Date" class="control-label col-1 col-md-1 col-sm-1 col-lg-1 col-form-label col-form-label-sm text-right">Date</label>
                            <div class="col-3 col-md-3 col-sm-3 col-lg-3">
                                <input type="date" id="Date" class="form-control form-control-sm" />
                                <span id="dateValidation" style="display:none" class="text-danger">Date is Required</span>
                            </div>

                            <label for="Time" class="control-label col-form-label-sm col-1 col-md-1 col-sm-1 col-lg-1 col-form-label text-right">Time</label>
                            <div class="col-2 col-md-2 col-sm-2 col-lg-2">
                                <input type="time" id="Time" class="form-control form-control-sm" />
                                <span id="timeValidation" style="display:none" class="text-danger">Time is Required</span>
                            </div>

                            <label for="Remarks" class="control-label col-1 col-md-1 col-sm-1 col-lg-1 col-form-label col-form-label-sm text-right">Remarks</label>
                            <div class=" col-3 col-md-3 col-sm-3 col-lg-3">
                                <input id="Remarks" class="form-control form-control-sm" />
                            </div>
                            <div class=" col-1 col-md-1 col-sm-1 col-lg-1 text-right">
                                @*<input type="submit" value="Submit" class="btn btn-sm btn-primary" />*@
                                <input class="btn-block" type="button" id="addButton" value="Add" />
                            </div>
                        </div>
                </div>
            </div>
            <form asp-action="Create" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-secondary row">
                            
                                <div >
                                    <img data-toggle="tooltip" data-placement="top" title="Tooltip on top X" src="~/img/question.PNG" style="width:30px;" />
                                </div>
                            
                            <div class="col-md-10">
                                <input type="text" id="searchBox" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-bordered table-sm" id="myTable">
                        <thead>
                            <tr>
                                <td>Title</td>
                                <td>Address</td>
                                <td>Type</td>
                                <td>Date</td>
                                <td>Time</td>
                                <td>Remarks</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            
                            
                        </tbody>
                    </table>

                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-outline-info " id="finalSubmitBtn">Submit</button>
                    </div>
                </div>
            </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#addButton').click(function () {
            
            let title = $('#Title').val();
            let address = $('#Address').val();
            let type = $('#AddressType option:selected').text();
            let typeVal = $('#AddressType option:selected').val();
            let date = $('#Date').val();
            let time = $('#Time').val();
            let remarks = $('#Remarks').val();
            
            if (title == '' || date == '' || time == '') {
                let ms = $('#myForm').validate();
                if (title == '') {
                    $('#titleValidation').css('display', 'block');
                }
                if (date == '') {
                    $('#dateValidation').css('display', 'block');
                }
                if (time == '') {
                    $('#timeValidation').css('display', 'block');
                }
            }            
            else {
                //createRowForSubmit();
                let index = $('#tableBody tr').length;
                let titelTd = '<td><input type="hidden" name="AddressBooks['+index+'].Title"  value="' + title + '" />' + title + '</td>';
                let addressTd = '<td><input type="hidden" name="AddressBooks[' + index +'].Address" value="' + address + '" />' + address + '</td>';
                let typeTd = '<td><input type="hidden" name="AddressBooks[' + index +'].AddressTypeId" value="' + typeVal + '" />' + type + '</td>';
                let dateTd = '<td><input type="hidden" name="AddressBooks[' + index +'].Date" value="' + date + '" />' + date + '</td>';
                let timeTd = '<td><input type="hidden" name="AddressBooks[' + index +'].Time" value="' + time + '" />' + time + '</td>';
                let remarksTd = '<td><input type="hidden" type="hidden" name="AddressBooks[' + index +'].Remarks" value="' + remarks + '" />' + remarks + '</td>';
                let deleteTd = '<td class="btn-sm btn-danger gridRowDeleteBtn" >Delete</td>';

                let tr = '<tr>' + titelTd + addressTd + typeTd + dateTd + timeTd + remarksTd + deleteTd+ '</tr>';
                $('#tableBody').append(tr);
            }
            
            $('#Title').val("");
            $('#Date').val("");
            $('#Time').val("");
            $('#Remarks').val("");
            $('#Address').val("");

            
            //$('#finalSubmitBtn').click(function () {
            //    $('#tableBody').empty();
            //});
        });

        $('#Title').keypress(function () {
            $('#titleValidation').css('display', 'none');
        });
        $('#Date').change(function () {
            $('#dateValidation').css('display', 'none');
        });
        $('#Time').change(function () {
            $('#timeValidation').css('display', 'none');
        });
        $("#myTable").on('click', '.gridRowDeleteBtn', function () {
            $(this).closest('tr').remove();
        });

        //Code for Search
        function searchByKey(searchKeyword) {
            if (searchKeyword!='') {
                $.ajax({
                    url: '/AddressBooks/SearchByKeyword',
                    data: { myKeyword: searchKeyword },
                    method: 'POST',
                    type: 'JSON',
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        $('#tableBody').empty();
                        $.each(data, function (i, obj) {
                            console.log(obj);
                            let titleCol = '<td>' + obj.title + '</td>';
                            let addressCol = '<td>' + obj.address + '</td>';
                            let addressTypeCol = '<td>' + obj.addressType.addressTypeName + '</td>';
                            let dateCol = '<td>' + obj.date + '</td>';
                            let timeCol = '<td>' + obj.time + '</td>';
                            let remarksCol = '<td>' + obj.remarks + '</td>';
                            let deleteTd = '<td class="btn btn-sm btn-danger gridRowDeleteBtn" >Delete</td>';
                            let tr = '<tr>' + titleCol + addressCol + addressTypeCol + dateCol + timeCol + remarksCol + deleteTd + '</tr>';

                            $('#tableBody').append(tr);
                        });
                        $("#myTable").on('click', '.gridRowDeleteBtn', function () {
                            $(this).closest('tr').remove();
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            else {
                $('#tableBody').empty();
            }
        };

        $('#searchBox').on('keyup keypress keydown',function () {
            let searchKeyword = $(this).val();
            
            searchByKey(searchKeyword);
            
        });

        $('.tooltip').tooltipster({
            interactive: true,
            contentAsHTML: true,
            interactiveTolerance: 300000
        });

       

    });
    
</script>
}
