@model Assignment.ViewModels.AddressVM

<form asp-action="Create1"  method="post">
    <input asp-for="AddressBooks[0].Address"  value="My HOme " />
    <input asp-for="AddressBooks[0].AddressTypeId"  value="1" />
    <input asp-for="AddressBooks[0].Date"  value="@DateTime.Today.ToString("yyyy-MM-dd")" />
    <input asp-for="AddressBooks[0].Remarks"  value="This is remarks 1" />
    <input asp-for="AddressBooks[0].Time"  value="@DateTime.Now.ToString("hh:mm:ss")" />
    <input asp-for="AddressBooks[0].Title"  value="This is title 1" />


    <input asp-for="AddressBooks[1].Address"  value="My Office " />
    <input asp-for="AddressBooks[1].AddressTypeId"  value="2" />
    <input asp-for="AddressBooks[1].Date"  value="@DateTime.Today.ToString("yyyy-MM-dd")" />
    <input asp-for="AddressBooks[1].Remarks"  value="This is remarks 2" />
    <input asp-for="AddressBooks[1].Time"  value="@DateTime.Now.ToString("hh:mm:ss")" />
    <input asp-for="AddressBooks[1].Title"  value="This is title 2" />


    <button class="btn btn-info" type="submit">Submit</button>
</form>